.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 10px 5px 15px;
  /* font-size: calc(10px + 2vmin); */

  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: blue;
  text-decoration: underline;
}

.game-tile {
  border: solid;
  margin: 10px;
  max-width: 225px;
  min-width: 225px;
  text-align: center;
}

.team-info {
  background-color: lightgray;
  height: 120px;
}

.team-abbr {
  display: inline-block;
  font-weight: bolder;
  font-size: large;
}

.team-stat {
  display: inline-block;
  font-size: small;
}

.player-name-link {
  font-size: small;
}

.logged-in-email {
  max-width: fit-content;
  min-width: fit-content;
}

.yahoo-auth {
  max-width: fit-content;
  min-width: fit-content;
}

.game-row {
  border-style: solid;
  border-color: lightgray;
  border-width: 1px; 
  margin:5px;
}

.game-date {
  font-size: large;
  margin:5px
}